<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >

<mapper namespace="reviewMapper">

	<resultMap id="reviewResultSet" type="review">
		<result column="REVIEW_NO" property="reviewNo"/>
		<result column="TITLE" property="title"/>	
		<result column="CONTENT" property="content"/>	
		<result column="REVIEW_IMG" property="reviewImg"/>	
		<result column="STYLE_STAR" property="styleStar"/>	
		<result column="PRICE_STAR" property="priceStar"/>	
		<result column="SERVICE_STAR" property="serviceStar"/>	
		<result column="CREATED_AT" property="createdAt"/>	
		<result column="REPLY" property="reply"/>	
		<result column="UPDATED_AT" property="updatedAt"/>	
		<result column="IS_DELETED" property="isDeleted"/>	
		<result column="APPOINTMENT_NO" property="appointmentNo"/>	
	</resultMap>
	
	<!-- 리뷰 생성 -->
	<insert id="insertReview" parameterType="review">
		INSERT INTO TB_REVIEW ( REVIEW_NO
							  , TITLE
							  , CONTENT
							  , REVIEW_IMG
							  , STYLE_STAR
							  , PRICE_STAR
							  , SERVICE_STAR
							  , CREATED_AT
							  , IS_DELETED
							  , APPOINTMENT_NO)
					  VALUES ( SEQ_REV.NEXTVAL
					  		 , #{title}
					  		 , #{content}
					  		 , #{reviewImg}
					  		 , #{styleStar}
					  		 , #{priceStar}
					  		 , #{serviceStar}
					  		 , DEFAULT
					  		 , DEFAULT
					  		 , #{appointmentNo})
	</insert>
	<!-- 리뷰 삭제 -->
	<update id="deleteReview" parameterType="review">
		UPDATE TB_REVIEW
		SET IS_DELETED = 'Y'
		WHERE REVIEW_NO = #{reviewNo}
		AND APPOINTMENT_NO IN (
		  SELECT APPOINTMENT_NO
		  FROM TB_APPOINTMENT
		  WHERE CUSTOMER_NO = #{customerNo}
		)
	</update>

	<!-- 리뷰 업데이트 : 디자이너 답글만 업데이트 됨. -->
	<update id="updateReview" parameterType="int" >
		UPDATE TB_REVIEW
		SET REPLY = #{reply}
		  ,	UPDATED_AT = DEFAULT	
		FROM TB_REVIEW
		WHERE REVIEW_NO = #{reviewNo}
	</update>
	
	<!-- 리뷰의 수를 구해주는 역할 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM TB_REVIEW
		WHERE IS_DELETED = 'N'
	</select>
	
	<!-- 리뷰 리스트를 구해주는 쿼리문 -->
	<select id="selectReview" parameterType="int" resultMap="reviewResultSet">
		SELECT A.*
		  FROM TB_REVIEW A
		  JOIN TB_APPOINTMENT B ON A.APPOINTMENT_NO = B.APPOINTMENT_NO
		 WHERE A.IS_DELETED = 'N'
		   AND B.MEMBER_NO = #{memberNo}
	</select>

</mapper>
